body {
  background: #f8f8f8;
  font: 16px Helvetica, sans-serif;
}

div.content {
  box-sizing: border-box;
  width: 100%;
  height: calc(100vh - 30px);
  position: absolute;
  padding: 3px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

div.roomForms {
  flex-direction: column;
  justify-content: center;
}

div.card {
  background: #ffffcc;
  position: absolute;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

div.symbol {
  background: #ffcc99;
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

div.symbol:hover {
  background: #ff9933;
}

div.symbol:active {
  background: #cc6600;
}

div.rankingBoard, div.rankingBoardActive {
  background: #ccccff;
  position: absolute;
  padding: 5% 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.rankingBoard {
  opacity: 0;
  z-index: 1;
  transition: opacity 1s ease-in-out, z-index 0s 1s;
}

div.rankingBoardActive {
  opacity: 1;
  z-index: 4;
  transition: opacity 1s ease-in-out, z-index 0s 0s;
}

footer {
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  bottom: 0;
  left: 0;
  position: fixed;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #333366;
  background: #ccccff;
}
